fieldset {
  border: 0 none;
}

form {
  width: 200px;
}

span {
  font-size: 18px;
  font-weight: bold;
}

form {
  margin: auto;
  border-radius: 25px;
  font-size: 18px;
  padding-top: 10px;
}

input,
p {
  font-size: 18px;
}

.break-clock {
  margin: auto;
  height: 50px;
  width: 100px;
  background-color: green;
  border-radius: 25px;
}

.minutes,
.colon,
.seconds {
  font-size: 24px;
  display: inline-block;
  padding-top: 15px;
}

button {
  margin: 15px;
  font-size: 18px;
}
