/*header  */
.header {
  background-color: #DC381F;
  margin-bottom: 20px; 
}

h1 {
  margin: 20px;
  text-align: center;
}

h1, .nav-span, .users-span {
  display: inline-block;
}

h1:hover, .nav-span:hover, .users-span:hover {
  text-decoration: underline;
}

a {
   color: white; 
  text-decoration: none;
}

/*span elements*/

.nav-span {
  float: right;
}

.users-span {
  float: left;
}

/*button */
.logout-button {
  margin: 5px;
  font-size: 10px;
  border-radius: 3px;
}