.login {
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  
}

.login > h2 {
  color: #4D693F;
}

.input-login {
    padding: 10px;
    margin: 10px;
    margin-left: -1rem;
}


.login-button {
    background-color: green;
    border: 1px solid;
    border-radius: 5px;
    color: white;
    padding: 5px 30px;
}


.create-account-link {
  color: blue;
  text-decoration: underline;
}