.session-result {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 20%;
}

thead {
    background-color: #E5E4E2;
}

tbody:nth-child(odd) {
    background-color: #dddddd;
}

.session-result a {
    color: blue;
}