.work-timer {
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  width: 30%;
  margin: 0px auto;
  padding: 20px;
}

.pause-timer-button {
  background-color: #DC381F;
}
.break-timer-button {
  background-color: green;
}

.pause-timer-button, .break-timer-button {
  border: 1px solid;
  border-radius: 5px;
  color: white;
  margin: 50px 5px 0px 5px;
  padding: 5px 30px;
}
